*{
margin:0;
padding:0;
box-sizing:border-box;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
    font-weight: bold;
 }
body{
background:#6AB29B;  
font-family: myFirstFont;
}

.container{
padding: 25px;   
background: #fff;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:20px;
width:355px;
}

.active{
padding-bottom:35px;       
}
.app-title{
font-size:16px;
color:#00BFFF;
padding-right:3px;       
}
.userInput{
all:unset; 
height:40px;
width:100%;
border-bottom:2px solid black;
font-size:16px;
margin-top:20px;
}
.btn {
all:unset;  
height:45px;
width:100%;
background: rgba(106, 178, 155, 0.9);  
color:white;
display:flex;
justify-content:center;
align-items:center;
text-transform:capitalize;
border-radius: 12px;
margin-top:8px;
cursor:pointer;
}

.btnn {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

#downloadBtn {
    display: none;
    position: relative;
    right: -90px;
    background-color: #6AB29B;
    color: white;
    border-radius: 12px;
    padding: 3px;
}

.barcode-box{
height:0px; 
width:100%;
margin-top:25px;
border: 2px solid #000;
border-radius:3px;
transition:all .2s;
}

.active 
.barcode-box {
height:200px;   
border:1px solid #000;
transition:all .2s;
}

.container.active .barcode-box #barcode{
position:absolute; 
left:12%;
height:165px;
width:270px;
margin-top:15px;       
}

::selection {
background:rgb(100, 149, 237, 0.8);
color:white;
}

.container:hover {
    border: 5px solid #00BFFF;
}

.userInput:hover {
    border-bottom:5px solid #6AB29B;
}

.btn:hover {
    background-color: rgba(106, 178, 155, 1);
}